mixin videoBlock(videoInfo)
  .videoBlock
    a(href=routes.videoDetail(videoInfo.id))
      video.videoBlock__thumbnail(src=videoInfo.videoFile controls="controls")
      h4.videoBlock__title= videoInfo.title
      h6.videoBlock__views= videoInfo.views